/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    /* Reset for REM 62.5% = 10px de 16px */
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/*GLOBALES*/
img {
    max-width: 100%;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}

/* Utilidades*/
.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fontW-300 {
    font-weight: 300;
}

.text-center {
    text-align: center;
}

.d-block {
    display: block !important;
}

.identado-inicio {
    margin-left: 2rem;
}

/* BOTONES */
.boton {
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
}

.boton-amarillo {
    background-color: #E08709;
}

.boton-verde {
    background-color: #71b100;
}

/*HEADER */
.site-header {
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}

.site-header.inicio {
    background: url(../img/header.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    min-height: 60rem;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1 {
    color: #fff;
    padding-bottom: 2rem;
    max-width: 50rem;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*NAVEGACIÓN*/

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 2.4rem;
    margin-right: 2rem;
}

nav a:last-of-type {
    margin: 0;
}

nav a:hover {
    background-color: rgb(104, 100, 100);
}

/* ICONOS NOSOTROS*/

.iconos-nosotros {
    display: flex;
    justify-content: space-between;
}

.icono img {
    width: 12.1rem;
    height: 12.1rem;
}

.icono {
    flex-basis: calc(33.3% - 1rem);
}

.icono h3 {
    text-transform: uppercase;
}

/*ANUNCIOS*/
.contenedor-anuncios {
    display: flex;
    justify-content: space-between;
}

.anuncio {
    flex-basis: calc(33.3% - 1rem);
    border: solid 0.1rem rgb(119, 118, 118);
    background-color: #f5f5f5;
}

.anuncio h3 {
    font-weight: 300;
}

.contenido-anuncio {
    padding: 2rem;
}

.contenido-anuncio h3,
.contenido-anuncio p {
    margin: 0;
}

.precio {
    color: #71b100;
    font-weight: 700;
}

.ver-todas {
    display: flex;
    justify-content: flex-end;
    margin-top: -11rem;
    margin-bottom: 5rem;
    margin-right: 3rem;
}

/*ICONOS MAIN*/
.iconos-caracteristicas {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.iconos-caracteristicas ul li img {
    margin-right: 2rem;
}

.iconos-caracteristicas li {
    display: flex;
    align-items: center;
    flex-basis: calc(33.3% - 6rem);
}

/* GUIA ICONOS MAIN*/
.guia-icono {
    display: flex;
    justify-content: flex-start;
    max-width: 80%;
}

.guia-icono li {
    font-weight: 700;
    height: 3rem;
    margin-right: 3em;
}

.guia-icono ul li img {
    height: 4rem;
}

.guia-icono ul li .identado-inicio {
    width: 15rem;
}

/* Carreras Home*/
.imagen-carreras {
    background: url(../img/fondo\ 1.png);
    background-position: center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
}

.contenido-carreras {
    flex: 1;
    color: #fff;
}

.contenido-carreras {
    font-size: 1.8rem;
}

/* Sección inferior*/
.seccion-inferior {
    display: flex;
    justify-content: space-between;
}

.seccion-inferior .blog {
    flex-basis: 60%;
}

.seccion-inferior .testimoniales {
    flex-basis: calc(40% - 3rem);
}

.entrada-blog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.entrada-blog .imagen-blog {
    display: flex;
    flex-basis: 40%;
}

.entrada-blog .anuncio {
    padding: 0.1rem;
}

.entrada-blog .texto-entrada {
    flex-basis: calc(60% - 3rem);
}

.entrada-blog:last-of-type {
    margin-bottom: 0;
}

.texto-entrada h4 {
    margin: 0;
    margin-top: 1rem;
    line-height: 1.4rem;
}

.texto-entrada a {
    text-decoration: none;
    color: black;
}

.texto-entrada p span {
    color: #E08709;
}

.texto-entrada a:hover {
    color: #E08709;
}

.texto-entrada h4::after {
    content: '';
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: #71b100;
    margin-top: 1.5rem;
}

/* Testimonial*/
.testimonial {
    background-color: #71b100;
    font-size: 2.4rem;
    padding: 2rem;
    color: #fff;
    border-radius: 5rem;
}

.testimonial blockquote {
    position: relative;
    padding-left: 5rem;
}

.testimonial blockquote::before {
    content: '';
    background-image: url(../img/comillas.png);
    width: 6rem;
    height: 5rem;
    position: absolute;
    left: -3rem;
}

.testimonial p {
    text-align: right;
}

/*Footer*/
.site-footer {
    margin: 0;
    background-color: #333333;
    margin-top: 7rem;
}

.contenedor-footer {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}

.copyR {
    margin: 0;
    padding-top: 1.5rem;
    color: #fff;
}

/*Páginas Internas */
.contenido-nosotros {
    margin-left: 10rem;
    display: grid;
    align-content: center;
    grid-template-columns: repeat(2, 50%);
    text-align: justify;
}

.contenido-nosotros img {
    display: flex;
    margin-top: 4.5rem;
    margin-left: -5rem;
    height: calc(100% - 5rem);
}

.texto-nosotros blockquote {
    margin: 0;
    font-weight: 900;
    font-size: 2rem;
    padding: 3rem 0;
}

/* Información */
.texto-info {
    text-align: justify;
}

.fontW{
    font-weight: 500;
}

.texto-info blockquote{
    font-size: 3rem;
}

/* Contactanos */
.contenido-centrado{
    align-content:center;
}

.main-contacto legend{
    font-size: 2.5rem;
}

label{
    display: block;
    font-weight: 500;
    text-shadow: 0 1px 0 #fff;
}

.main-contacto {
    display: block;  
    align-content: center;  
    font-size: 2rem;
    width: 80%;
    margin-left:12%;
}
.main-contacto input[type="radio"]{
    width: auto;
    margin: 0;
    padding: 0;
    margin-top: 2.5rem;
    height: 2rem;
}

.main-contacto input:not([type="submit"]), select, textarea{    
    padding: 1rem;
    display: block;    
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}

.radio-botones{    
    max-width: 30rem;
    display: flex;
    align-content: space-between;
    align-items: center;        
}

.main-contacto fieldset{
    border-radius: 1rem;
    border: solid rgb(122, 119, 119);
    border-width: 0.1rem;
}

form {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
}

.main-contacto form .boton{
    margin-left: 40%;
    margin-right: 40%;
    font-size: 2rem;
    margin-top: -2.5rem;
    border-radius: 1rem;
}

.boton:hover{
    cursor: pointer;
}





